<div class="container py-5">
  <h3> <%= @list.name %></h3>

  <div class="container py-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('film.jpg') %>)"> </div>

  <%= link_to "Back to lists", root_path, class: "btn btn-primary" %>
  <%= link_to "Add a new bookmark", new_list_bookmark_path(@list.id), class: "btn btn-primary" %>
  <%= link_to "Delete this list", delete_list_path(@list), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>

  <div class="movies-container my-4 row">
    <% if @list.movies.any? %>
      <%= render 'shared/moviecard' %>
    <% else %>
      <div class="message p-3 rounded">
        <h3>You don't have any movies in this list yet.</h3>
        <p>What about you add some?</p>
        <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "button button-main" %>
      </div>
    <% end %>
  </div>
  <hr>
  <div>
  <%= render 'shared/listform' %>
  </div>
</div>
 <div class="row">
    <div class="col-12 col-sm-6">
      <h3>Reviews</h3>
      <% if @list.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this list</em></small>
      <% end %>
      <% @list.reviews.each do |review| %>
        <div>
          <% review.rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"><%= review.comment %></p>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
        <h5>Add your review</h5>
        <%= simple_form_for [@list, @review] do |f| %>
          <%= f.input :comment, placeholder: "Add your review here..." %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "star-rating" } } %>
          <%= f.submit class:"btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>